In [2]:
import csv
from urllib.request import urlopen
from bs4 import BeautifulSoup

html = urlopen("https://en.wikipedia.org/wiki/Comparison_of_programming_languages")
soup = BeautifulSoup(html, "html.parser")
table = soup.findAll("table", {"class":"wikitable"})[0]
rows = table.findAll("tr")

with open("language.csv", "wt+", newline="") as f:
    writer = csv.writer(f)
    for i in rows:
        row = []
        for cell in i.findAll(["td", "th"]):
            row.append(cell.get_text())
        writer.writerow(row)
        
import pandas as pd
a = pd.read_csv("languages.csv")
a.head()

  code       name  nplurals formula
0   aa       Afar         2  n != 1
1   ab  Abkhazian         2  n != 1
2  ace   Acehnese         1       0
3  ach     Acholi         2   n > 1
4  ada    Adangme         2  n != 1